/src/Destiny.Core.Flow/bin
/src/Destiny.Core.Flow/obj
/src/Destiny.Core.Flow.API/obj
/src/Destiny.Core.Flow.API/DestinyCoreDb.txt
/src/Destiny.Core.Flow.API/bin
/src/Destiny.Core.Flow.AspNetCore/bin
/src/Destiny.Core.Flow.AspNetCore/obj
/src/Destiny.Core.Flow.AutoMapper/obj
/src/Destiny.Core.Flow.AutoMapper/bin
/src/Destiny.Core.Flow.EntityFrameworkCore/obj
/src/Destiny.Core.Flow.EntityFrameworkCore/bin
/src/Destiny.Core.Flow.Identity/obj
/src/Destiny.Core.Flow.Identity/bin
/src/Destiny.Core.Flow.IServices/obj
/src/Destiny.Core.Flow.IServices/bin
/src/Destiny.Core.Flow.Log4Net/obj
/src/Destiny.Core.Flow.Log4Net/bin
/src/Destiny.Core.Flow.Model/obj
/src/Destiny.Core.Flow.Model/bin
/src/Destiny.Core.Flow.SeriLog/obj
/src/Destiny.Core.Flow.SeriLog/bin
/src/Destiny.Core.Flow.Services/obj
/src/Destiny.Core.Flow.Services/bin
/src/Destiny.Core.Flow.Swagger/obj
/src/Destiny.Core.Flow.Swagger/bin
/src/Destiny.Core.Tests/obj
/src/Destiny.Core.Tests/bin
/src/Destiny.Core.Flow.API/logs
